/*
    Document   : coceso
    Created on : 21.10.2013, 12:37:04
    Author     : daniel
    Description:
        Purpose of the stylesheet follows.
*/

body {
  padding: 0px;
  margin: 0px;
}

#taskbar {
  position: fixed;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

/**
 * Overwrite some UI defaults
 */

.ui-widget {
  font-size: 1em;
}

.ui-dialog .ui-dialog-titlebar {
  font-size: 14px;
  padding: 3px 60px 5px 5px;
}

.ui-dialog .ui-dialog-title {
  margin: 0;
  padding: 0;
}

.ui-dialog .ui-dialog-titlebar-close {
  margin-top: -12px;
}

.ui-dialog .ui-dialog-content {
  padding: 0.5em 0;
}

.ui-accordion .ui-accordion-header {
  padding: 0.2em 0.6em 0.2em 1.8em;
}

.ui-accordion .ui-accordion-content {
  padding: 0 0.5em;
}

label.ui-button {
  font-weight: normal;
}

.ui-button.ui-state-active {
  color: #ffffff;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.ui-tabs .ui-tabs-nav {
  border-radius: 0;
}

input[type="number"] {
  display: inline-block;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

input.form-control, textarea.form-control {
  padding-left: 6px;
  padding-right: 6px;
}

.col-md-2, .col-md-6, .col-md-10, .col-md-12 {
  padding-left: 5px;
  padding-right: 5px;
}

.ui-buttonset.col-md-10 {
  margin-right: 0;
}

p {
  margin: 0.5em 0;
}

.ui-dialog p span {
  white-space: pre-wrap;
}


.units_list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.units_list li {
  display: inline-block;
  margin: 5px;
}

.unit_state {
  padding: 5px;
  display: block;
  color: #555;
  border-radius: 3px;
}

.unit_state_eb {
  background-color: #00ff00;
}

.unit_state_neb {
  background-color: #cd0a0a;
}

.unit_state_ad {
  background-color: #cccccc;
}

/**
 * Incidents list
 */

span.incidents_priority {
  margin-left: 1em;
  float: right;
}

span.incidents_blue {
  color: #0000ff;
  font-weight: bold;
}

/**
 * Incidents form
 */

.incidents_form {
  width: 480px;
}

.incidents_form textarea {
  resize: vertical;
}

.incidents_form .assigned label.control-label {
  padding-top: 4px;
  text-align: right;
}
