##############################################
### Ignore everything from .gitignore      ###
### This is .gitignore with prefixed "**/" ###
##############################################

# generic files to ignore
# backup files (*~) and vim swap file (.swp), MacOS dir file (.DS_Store)
**/*~
**/*.lock
**/*.DS_Store
**/*.swp
**/*.out

# IDE files to ignore (Netbeans, Eclipse, IntelliJ)
**/nbproject
**/nb-configuration.xml
**/nbactions.xml
**/.netbeans.xml
**/context.xml
**/.classpath
**/.project
**/.settings
**/build.xml
**/*.iml
**/.idea

# ignore development database and log directories
**/database
**/log

# ignore generated .class files
**/*.class

# ignore compilation output
**/target

# ignore private maven cache
**/.m2

##############################################
### Additionally ignore some tracked files ###
##############################################

# Ignore application.yml files (for all profiles)
**/application*.yml

# Ignore json files in resources
**/resources/**/*.json

# Ignore keys in resources
**/resources/**/keys
**/resources/**/*.key
**/resources/**/*.pub

# Ignore logging configuration
**/log*.xml

# Ignore .git
**/.git
**/.gitignore
**/.gitkeep

# Ignore .editorconfig
**/.editorconfig

# Ignore Docker config files themselves
**/.dockerignore
**/docker-compose.yml
**/Dockerfile

# Ignore scripts
**/.github
**/docker-build.sh

# Ignore docs
**/LICENSE*
**/README*
