# generic files to ignore
# backup files (*~) and vim swap file (.swp), MacOS dir file (.DS_Store)
*~
*.lock
*.DS_Store
*.swp
*.out

# IDE files to ignore (Netbeans, Eclipse)
nbproject
nb-configuration.xml
nbactions.xml
.netbeans.xml
context.xml
.classpath
.project
.settings
build.xml

# ignore database configuration
coceso.properties

# ignore generated .class files
*.class

# ignore compilation output
target

# ignore bower cache
bower_components

# ignore tiles and layers
/resources/

# except this file
!.gitignore
