# generic files to ignore
# backup files (*~) and vim swap file (.swp), MacOS dir file (.DS_Store)
*~
*.lock
*.DS_Store
*.swp
*.out

#IDE files to ignore (Netbeans, Eclipse)
nbproject
.classpath
.project
.settings

#ignore generated .class files
*.class

#except this file
!.gitignore

# ignore real conf files
conf/configuration.php
