# generic files to ignore
# backup files (*~) and vim swap file (.swp), MacOS dir file (.DS_Store)
*~
*.lock
*.DS_Store
*.swp
*.out

# IDE files to ignore (Netbeans, Eclipse)
nbproject
nb-configuration.xml
context.xml
.classpath
.project
.settings
build.xml

# ignore database configuration
coceso.properties

# ignore generated .class files
*.class

# ignore compilation output
target

# ignore tiles and layers
/coceso/src/main/webapp/WEB-INF/classes/streetnames.csv
/coceso/src/main/webapp/static/imgs/layer/vcm/
/coceso/src/main/webapp/static/js/layers.js
/coceso/src/main/webapp/static/js/layers.min.js

# except this file
!.gitignore
