<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="cocesoInstallationName">${bundle:logger:coceso.installation.name}</Property>
    </Properties>

    <Appenders>
        <RollingFile name="file_coceso"
                     fileName="${sys:catalina.base}/logs/${cocesoInstallationName}/coceso.log"
                     append="true"
                     filePattern="${sys:catalina.base}/logs/${cocesoInstallationName}/$${date:yyyy-MM}/coceso-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout charset="UTF-8">
                <Pattern>%d{ISO8601}; [%t]; %-5level; %logger{1.}; %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="file_error"
                     fileName="${sys:catalina.base}/logs/${cocesoInstallationName}/coceso_error.log"
                     append="true"
                     filePattern="${sys:catalina.base}/logs/${cocesoInstallationName}/$${date:yyyy-MM}/coceso_error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout charset="UTF-8">
                <Pattern>%d{ISO8601}; [%t]; %-5level; %logger{1.}; %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <Async name="async_coceso">
            <AppenderRef ref="file_coceso"/>
        </Async>

        <Async name="async_error">
            <AppenderRef ref="file_error"/>
        </Async>
    </Appenders>

    <Loggers>
        <Logger name="at.wrk.coceso" level="debug"/>
        <Logger name="at.wrk.geocode" level="debug"/>

        <Root level="warn">
            <AppenderRef ref="async_coceso"/>
            <AppenderRef ref="async_error" level="error"/>
        </Root>
    </Loggers>
</Configuration>
