<?php

$apikey = '';
$projectid = 0;
$userid = 0;
$usermail = '';
$proxyArray = array (
			'proxy_host'     => 'proxy.myserver.co.za',
			'proxy_protocol' => 'http',
			'proxy_user'     => 'user',
			'proxy_pass'     => 'secretpassword',
			'proxy_port'     => 8080,
			);
?>
