<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                    http://www.springframework.org/schema/context
                    http://www.springframework.org/schema/context/spring-context.xsd
                    http://www.springframework.org/schema/security
                    http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <http pattern="/static/**" security="none" />

    <beans:bean id="jsonhandler" class="org.springframework.security.web.authentication.Http403ForbiddenEntryPoint"/>
    <http pattern="/data/**" entry-point-ref="jsonhandler" use-expressions="true">
        <intercept-url pattern="/**" access="hasAnyRole(${roles.main})"/>
    </http>

    <http pattern="/**" use-expressions="true">
        <intercept-url pattern="/" access="permitAll" />
        <intercept-url pattern="/login" access="permitAll" />
        <intercept-url pattern="/loginfailed" access="permitAll" />
        <intercept-url pattern="/logout" access="isAuthenticated()" />

        <intercept-url pattern="/dashboard" access="hasAnyRole(${roles.dashboard})" />

        <intercept-url pattern="/main" access="hasAnyRole(${roles.main})"/>
        <intercept-url pattern="/main/**" access="hasAnyRole(${roles.main})"/>
        <intercept-url pattern="/finalReport/**" access="hasAnyRole(${roles.main})"/>
        <intercept-url pattern="/pdfdump/**" access="hasAnyRole(${roles.main})"/>

        <intercept-url pattern="/home" access="hasAnyRole(${roles.main})"/>

        <intercept-url pattern="/edit" access="hasAnyRole(${roles.edit})"/>
        <intercept-url pattern="/edit/**" access="hasAnyRole(${roles.edit})"/>

        <intercept-url pattern="/**" access="hasAnyRole(${roles.superuser})" />

        <logout delete-cookies="true" invalidate-session="true" logout-url="/logout" logout-success-url="/" />

        <!-- TODO 'always-use-default-target' is set to true, because of buggy behaviour with left-open windows -->
        <form-login login-page="/login" default-target-url="/home" authentication-failure-url="/loginfailed"
                    always-use-default-target="true"/>
    </http>

    <authentication-manager>
        <authentication-provider ref="cocesoAuthenticationProvider" />
    </authentication-manager>
</beans:beans>